.vehicleDelete {
  padding: 1rem;
  max-width: 20rem;
}
.header {
  display: flex;
  gap: 5rem;
}
.footer {
  margin-top: 0.5rem;
  display: flex;
  justify-content: end;
  gap: 0.5rem;
  .cancel {
    font-weight: 500;
  }
  .confirm {
    font-weight: 500;
    padding: 0.25rem 0.725rem;
    color: var(--p-0);
    border-radius: 0.2rem;
    background-color: #ff2c2c;
  }
}
