.container{
    display: flex;
    gap: 0.5rem;
}

.input {
    width: 2.375rem;
    height: 2.5rem;
    text-align: center;
    font-size: 1rem;
    border: 0.0625rem solid ;
    border-radius: 0.2rem;
    &::placeholder {
         font-size: 0.75rem; 
    }

     &:focus::placeholder {
        color: transparent;
    }
}