.container{
    display:flex;
    gap:0.1rem;
    border: 0.0625rem solid;
    padding: 0.1rem;
    box-sizing: border-box;

    border: 0.125rem solid transparent;

  &:focus-within {
    border: 0.125rem solid var(--s-500);
    border-radius: 0.25rem;
  }

    input{
        border:none;
        width: 2ch;
        outline: none;
        &::placeholder{
            text-align: center;
        }
    }
}