.warpper {
  position: relative;
}
.floating {
  position: absolute;
  right: 0;
  top: 0;
  margin: 2rem 0;
  z-index: 10;
  width: fit-content;
  padding: 0.8rem 0;
  border-radius: 0.2rem;
  background-color: var(--p-0);
  box-shadow:
    rgba(0, 0, 0, 0.12) 0rem 0.0625rem 0.1875rem,
    rgba(0, 0, 0, 0.24) 0rem 0.0625rem 0.125rem;
}

.floatingBody {
  padding: 0.4rem 0.8rem;
  &:hover {
    background-color: var(--p-100);
  }
}
