.top_container {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.line {
  border: 0.05rem solid var(--p-100);
}

.bottom_container {
  h2 {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.5rem;

  }
}

.input {
  display: flex;
  gap: 2.5rem;
}

.submitError {
  min-height: 1.5rem;
  color: var(--t-500);
  margin-top: 1rem;
}

.button {
  border: 0.1rem solid var(--s-500);
  background-color: var(--s-500);
  margin-bottom: 7rem;
  padding: 0.5rem 0;
  border-radius: 0.3rem;
  color: var(--p-0);
}
