.container{
    position:relative;
    width: 100%;
}

.inputWrapper {   
    position: relative;
    width: 100%;
}

.dropdown{
    position:absolute;
    width: 100%;
    box-sizing: border-box;
    background-color:var(--p-0);
    border:0.07rem solid var(--p-100);
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    z-index:1;
    top: 90;  
    height: 10rem;
    overflow-y: scroll;
}

.item{
    padding-bottom: 0.2rem;
}

.icon{
    position: absolute;
    right: 0.5rem;
    top: 2.4rem;
}