:root {
  --primary-0: #ffffff;
  --primary-50: #f8f8f8;
  --primary-100: #edeff0;
  --primary-200: #e1e2e6;
  --primary-300: #a9abaf;
  --primary-400: #75777b;
  --primary-500: #5c5f62;
  --primary-600: #44474a;
  --primary-700: #2e3134;
  --primary-800: #191c1f;
  --primary-900: #141414;
  --primary-1000: #000000;

  --p-0: var(--primary-0);
  --p-50: var(--primary-50);
  --p-100: var(--primary-100);
  --p-200: var(--primary-200);
  --p-300: var(--primary-300);
  --p-400: var(--primary-400);
  --p-500: var(--primary-500);
  --p-600: var(--primary-600);
  --p-700: var(--primary-700);
  --p-800: var(--primary-800);
  --p-900: var(--primary-900);
  --p-1000: var(--primary-1000);
}

:global([data-theme="dark"]) {
  --p-0: var(--primary-1000);
  --p-50: var(--primary-900);
  --p-100: var(--primary-800);
  --p-200: var(--primary-700);
  --p-300: var(--primary-600);
  --p-400: var(--primary-500);
  --p-500: var(--primary-400);
  --p-600: var(--primary-300);
  --p-700: var(--primary-200);
  --p-800: var(--primary-100);
  --p-900: var(--primary-50);
  --p-1000: var(--primary-0);
}
