//จะเพิ่มสีถามก่อน

:root {
  --primary-0: #ffffff;
  --primary-50: #f8f8f8;
  --primary-100: #e4e4e7;
  --primary-200: #d4d4d8;
  --primary-300: #a1a1aa;
  --primary-400: #71717a;
  --primary-500: #52525b;
  --primary-600: #3f3f46;
  --primary-700: #27272a;
  --primary-800: #18181b;

  --secondary-0: #ffffff;
  --secondary-100: #d1e1f7;
  --secondary-200: #a3c3f0;
  --secondary-300: #75a5e8;
  --secondary-400: #4787e1;
  --secondary-500: #1a69d9;
  --secondary-600: #1868db;
  --secondary-700: #1251ae;
  --secondary-800: #0d3b82;
  --secondary-900: #092757;

  --tertiary-100: #fde8e8;
  --tertiary-200: #fbd1d1;
  --tertiary-300: #f8a3a3;
  --tertiary-400: #f47474;
  --tertiary-500: #ef4444;
  --tertiary-600: #dc2626;
  --tertiary-700: #b91c1c;
  --tertiary-800: #991b1b;
  --tertiary-900: #7f1d1d;

  --green-0: #ffffff;
  --green-50: #f0fdf4;
  --green-100: #dcfce7;
  --green-200: #bbf7d0;
  --green-300: #86efac;
  --green-400: #4ade80;
  --green-500: #22c55e;
  --green-600: #16a34a;
  --green-700: #15803d;
  --green-800: #166534;
  --green-900: #14532d;

  --p-0: var(--primary-0);
  --p-50: var(--primary-50);
  --p-100: var(--primary-100);
  --p-200: var(--primary-200);
  --p-300: var(--primary-300);
  --p-400: var(--primary-400);
  --p-500: var(--primary-500);
  --p-600: var(--primary-600);
  --p-700: var(--primary-700);
  --p-800: var(--primary-800);
  --p-900: var(--primary-900);

  --s-0: var(--secondary-0);
  --s-100: var(--secondary-100);
  --s-200: var(--secondary-200);
  --s-300: var(--secondary-300);
  --s-400: var(--secondary-400);
  --s-500: var(--secondary-500);
  --s-600: var(--secondary-600);
  --s-700: var(--secondary-700);
  --s-800: var(--secondary-800);
  --s-900: var(--secondary-900);
  --s-1000: var(--secondary-1000);

  --t-100: var(--tertiary-100);
  --t-200: var(--tertiary-200);
  --t-300: var(--tertiary-300);
  --t-400: var(--tertiary-400);
  --t-500: var(--tertiary-500);
  --t-600: var(--tertiary-600);
  --t-700: var(--tertiary-700);
  --t-800: var(--tertiary-800);
  --t-900: var(--tertiary-900);

  --g-0: var(--green-0);
  --g-50: var(--green-50);
  --g-100: var(--green-100);
  --g-200: var(--green-200);
  --g-300: var(--green-300);
  --g-400: var(--green-400);
  --g-500: var(--green-500);
  --g-600: var(--green-600);
  --g-700: var(--green-700);
  --g-800: var(--green-800);
  --g-900: var(--green-900);
}

// [data-theme="dark"] {
//   --p-0: var(--primary-800);
//   --p-50: var(--primary-700);
//   --p-100: var(--primary-600);
//   --p-200: var(--primary-500);
//   --p-300: var(--primary-400);
//   --p-400: var(--primary-300);
//   --p-500: var(--primary-200);
//   --p-600: var(--primary-100);
//   --p-700: var(--primary-50);
//   --p-800: var(--primary-0);
// }
