$light-theme: (
  p-0: #f7f7f8,
  p-50: #f1f2f4,
  p-100: #e7e9ec,
  p-200: #d9dce1,
  p-300: #b1b5bd,
  p-400: #8a9099,
  p-500: #6b727c,
  p-600: #525861,
  p-700: #3b4047,
  p-800: #262a30,
  p-900: #1b1e23,
  p-1000: #121417,

  s-0: #ffffff,
  s-100: #d1e1f7,
  s-200: #a3c3f0,
  s-300: #75a5e8,
  s-400: #4787e1,
  s-500: #1a69d9,
  s-600: #1868db,
  s-700: #1251ae,
  s-800: #0d3b82,
  s-900: #092757,
  s-1000: #05152f,
);

$dark-theme: (
  p-0: #16181d,
  p-50: #1d2026,
  p-100: #252932,
  p-200: #303540,
  p-300: #434a57,
  p-400: #5c6473,
  p-500: #7c8595,
  p-600: #a2a9b5,
  p-700: #c8ccd4,
  p-800: #dfe2e7,
  p-900: #eceef1,
  p-1000: #f7f7f8,

  s-0: #ffffff,
  s-100: #d1e1f7,
  s-200: #a3c3f0,
  s-300: #75a5e8,
  s-400: #4787e1,
  s-500: #1a69d9,
  s-600: #1868db,
  s-700: #1251ae,
  s-800: #0d3b82,
  s-900: #092757,
  s-1000: #05152f,
);
@mixin theme-vars($theme) {
  @each $key, $value in $theme {
    --#{$key}: #{$value};
  }
}
