.container {
  display: flex;
  gap: 1.5rem;
  width: 100%;
  padding-left: 2rem;
  min-width: 0;
  position: relative;
  overflow: visible;

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    left: 0;
    height: 0.1rem;
    background-color: var(--primary-100);
  }
}

.item {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 0.7rem;
  padding: 0.8rem 0.2rem 0;
  white-space: nowrap;
  position: relative;
  z-index: 1;
  margin-bottom: -0.1rem;
  border-bottom: 0.1rem solid var(--primary-100);

  span {
    border: 0.1rem solid var(--primary-100);
    background-color: var(--primary-100);
    padding: 0.0625rem 0.6rem;
  }

  &:not(.active):hover {
    z-index: 3;
    border-bottom: 0.3rem solid var(--secondary-600);
  }
}
.label {
  font-weight: 500;
}

.active {
  z-index: 2;
  border-bottom: 0.3rem solid var(--secondary-600);
  .label {
    color: var(--s-600);
  }
}

.hiddenTab {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.moreWrapper {
  flex-shrink: 0;
  display: flex;
}
