.container{
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.left {
  flex: 45%;
  display: flex;
  justify-content: center;
  padding: 3rem 0;

  overflow-y: auto;

  scrollbar-width: none;      
  -ms-overflow-style: none;  
}

.left::-webkit-scrollbar {
  display: none;
}
.right {
  flex: 55%;
  position: relative;
  overflow: hidden; 
}