.container{
    display: flex;
    height: 100vh;
}

.left{
    flex:45%;
    display:flex;
    justify-content: center; 
    margin-top: 3rem;
}
.right {
  flex: 55%;
  position: relative;
  overflow: hidden; 
}