.sidebarWrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  min-width: 0;
}

.topbarWarpper {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
}

.body {
  display: flex;
  flex: 1;
  min-height: 0;
  min-width: 0;
}
